<%- include('./partial/header',{title : "Register Page"}) %>
<body>
    <h1>Register</h1><br>
    <form action="/user/register" method="POST">
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Email</label><br>
        <input type="email" name="email"><br>
        <label>Password</label><br>
        <input type="password" name="password"><br><br>
        <select name="cityId">
            <option disabled selected>-- Kota --</option>
            <% data.forEach(el => { %>
                <option value="<%=el.id%>"><%=el.city_name%></option>
            <%})%>
        </select><br><br>
        <input type="submit" value="Register">
    </form>

</body>
</html>